body {
    margin: 0;
    background-image: url('../images/valorantBG.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    margin-bottom: 0px;
}

#headerVideo {
    height: auto;
    width: auto;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.90);
}

video {
    z-index: 0;
    height: auto;
    width: 100%;
    background-size: 100% auto;    
}

#navBar {
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.90);
    height: 80px;
    width: 100%;
    z-index: 2;
}

#riotLogo {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;    
    margin-left: 25px;
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 60px;
    background-color: rgba(0, 0, 0, 0.1);    
}

#valorantLogo {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
    margin-left: 25px;
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 60px;
    background-color: rgba(0, 0, 0, 0.1);    
}

button {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 8px;
    margin-top: 1px;
    height: 40px;
    width: 200px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Changa', sans-serif;
    -webkit-text-stroke: 0.5px white;
    border-bottom: 5px solid transparent;
    z-index: 4;
}

#dropDownMenu {
    display: flex;
    position: fixed;
    margin-top: 80px;
    flex-direction: column;
    min-width: 200px;
    width: 200px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 3;    
}

button a:link {
    color: white;
}

button:hover {
    border-bottom: 3px solid red;
}

.fotorama {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#displayAgents {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Changa', sans-serif;
    -webkit-text-stroke: 0.5px white;
    border-bottom: 5px solid transparent;
}

#displayAgents:hover {
    border-bottom: 3px solid red;
}

#displayWeapons {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Changa', sans-serif;
    -webkit-text-stroke: 0.5px white;
}

#displayWeapons:hover {
    border-bottom: 3px solid red;
}

#displayMaps {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Changa', sans-serif;
    -webkit-text-stroke: 0.5px white;
}

#displayMaps:hover {
    border-bottom: 3px solid red;
}

#valAPI {    
    margin: 0 auto;    
    width: 60%; 
}

.DivAgent {
    display: flex;
	flex-direction: column;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.90);
    color: white;
}

.agentTitle {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Changa', sans-serif;
}

.agentDescription {
    background-color: rgba(71, 71, 71, 0.2);
    padding: 20px;
    border-radius: 10px;
    border-width: 5px;
    font-family: 'Changa', sans-serif;
}

.DivAgent img {
    margin: 25px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    border-color: rgb(53, 53, 53);
    border-style: inset;
    border-width: 5px;
}

.DivWeapon {
    display: flex;
	flex-direction: column;
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.90);
    color: white;   
}

.weaponTitle {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Changa', sans-serif;
}

.DivWeapon img {
    height: 50%;
    width: 50%;
}

.DivMap {
    display: flex;
	flex-direction: column;
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.90);
    color: white;
}

.mapTitle {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Changa', sans-serif;
}

.DivMap img {
    height: 750px;
    width: 750px;
    margin: 0 auto;
}

.comments {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;    
    height: 300px;    
}

.comments text {
    margin: auto;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 20px;
    background-color: rgba(83, 58, 58, 0.6);
    overflow-wrap: break-word;
    border-radius: 10px;
    max-width: 95%;
}

input {
    display: flex;
    margin-top: 10px;
}

#buttonsGallerySelect {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    height: 80px;
}

#buttonsGallerySelect button {
    margin: 5px;
    width: 100px;        
}

#galleryIMGColumn {
    display: flex;
    flex-direction: column;    
    height: auto;    
}

#galleryIMGColumn img {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
    height: auto;
    width: 50%;
}

#galleryIMGColumn img button {
    position: absolute;
    height: 20px;
    width: 20px;
}

#galleryIMGRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
    height: auto;    
}

#galleryIMGRow img {
    margin: 10px;
    margin-bottom: 0;
    height: 300px;
    width: auto;
}

.galleryImageDiv {
    position: relative;
}

.deleteImage {
    position: absolute;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    z-index: 5;
}

#plusInput {
    margin: auto;
    margin-right: 0;
    min-width: 10%;
    min-height: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 500px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

#riotFooterLogo {
    margin: auto;
    height: auto;
    width: 200px;
}

#pplWarning {
    margin: auto;
    height: 300px;
    width: auto;
}

.Warning {
    margin: auto;
    height: 100px;
    width: auto;
    z-index: 1;
}

/* GAME */
canvas {
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;  
}